body{
    background-image: url('../img/school-supplies-gec9153c68_1280.jpg');
    box-sizing: border-box;

    background-position:center;
    
    background-size: cover;
    }    






.menu_bar{
    /*background-color: aliceblue;*/
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20%;
   
}


.logo{
    color: rgb(18, 70, 70);
}
.logo span{
    color: rgb(216, 152, 68);
}
.menu_bar ul{
    list-style: none;
    display: flex;

}
.menu_bar ul li{
    padding: 10px 30px;
    position: relative;

}
.menu_bar ul li a{
color: rgb(22, 14, 4);
    font-size: 25px;
    text-decoration: none;
    transition: all 0.3s;
}
.menu_bar ul li a:hover{
   color: goldenrod;
   

   
}
.dropdown_menu{
    display: none;
}

    
.menu_bar ul li:hover .dropdown_menu {
  display: block;
  position: absolute;
  left: 0px;
width: 100px;
  top: 50px;
 /*background-color: aliceblue;*/
  padding-right: 50px;

}
.dropdown_menu ul{
    display: block;
    margin-left: 5px;
    padding-right: 50px;
    padding-left: 0px;
     
    
}
.dropdown_menu-1{
    display: none;
}
.dropdown_menu ul li:hover .dropdown_menu-1{
    display: block;
    position: absolute;
    top: 0px;
    left: 140px;
   background-color: aliceblue;

}


   